* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  font-family: sans-serif;
}

h1 {
  background-color: #d9eed9;
  text-align: center;
  padding: 2%;
  margin: 0%;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: #4caf50;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 1em;
  text-decoration: none;
  text-align: center;
}

main {
  margin: 1em 0em;
}

main > h2 {
  margin: 3.5% 8%;
}

.product-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0 10%;
  width: 80%;
}

article.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  align-content: space-between;
  padding: 1em;
  box-shadow: 0 0 0.5em gray;
  width: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 3%;
  text-align: center;
}

p.price {
  font-size: 1.5em;
  color: green;
}

img {
  width: 100%;
  border-radius: 3%;
}

footer p {
  background-color: #124314;
  color: white;
  text-align: center;
  margin: 0;
  padding: 3%;
}
